# Visual Studio
.vs/
x64/
*.user
*.suo
*.aps
*.vcxproj
*.vcxproj.filters
Debug/
Release/
ipch/

# Compilados
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib

# Outros
*.log
"packages/raylib.5.5.0"
packages/ 
